.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .celular {
  width: 25%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  border-radius: 25px;
  padding: 18px 17px 10px 17px;
}

.container .celular .tela {
  width: 18.5;
  height: 99%;
  background-color: lightgreen;
  overflow: hidden;
  border-radius: 20px;
  padding: 0px 15px 10px 15px;
}
.container .celular .tela .cam {
  height: 4%;
  width: 70%;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 5px;
  background-color: black;
}
.container .celular .tela .cam .bolinha {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 140px;
}
.container .celular .tela .inputs {
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container .celular .tela .inputs .input_nome {
    height: 40px;
  border-radius: 5px;
  background-color: rgb(53, 54, 58);
  color: white;
  padding: 0px 0px 0px 5px;
  outline: none;
}
.container .celular .tela .inputs .input_nome::placeholder {
  color: white;
}

.container .celular .tela .inputs .input_nome:focus {
  background-color: black;
}

.container .celular .tela .historico {
  height: 75%;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: black;
  color: lightgreen;
  overflow: auto;
}

.container .celular .tela .historico::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.container .celular .tela .historico::-webkit-scrollbar-track {
  background: gray; /* color of the tracking area */
}

.container .celular .tela .historico::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

.container .celular .tela .btn_final {
  height: 3px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  background-color: white;
}

.texto_direita {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}
